.absolute{
    position: absolute;
}

.btnbox{
    text-align: center;
}

.container{
    padding:15px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.font-bigger{
    font-size: 1.3em;
}

.textbox{
    padding: 15px;
}

.relative{
    position: relative;
}

.row{
    margin: auto -15px;
}

.warning{
    background-color: yellow;
    margin: 15px auto;
    padding: 20px;
}