.absolute{
    position: absolute;
}

.container{
    padding:15px;
}

.font-bigger{
    font-size: 1.3em;
}

.textbox{
    padding: 15px;
}

.textbox > div{
    padding-bottom: 24px;
}

.relative{
    position: relative;
}

.row{
    margin: auto -15px;
}