.bg-orange{
    background-color: orange;
}

.bg-lightblue{
    background-color: lightblue;
}

.bg-lightgreen{
    background-color: lightgreen;
}

.bg-lightpink{
    background-color: lightpink;
}

.bg-lightcoral{
    background-color: lightcoral;
}

.bg-lightsalmon{
    background-color: lightsalmon;
}