@media(min-width:768px){
    #approach-info{
        float:right;
    }
}
#page{
    margin: auto;
    max-width: 1280px;
}
.columns-container{
    margin: auto -15px;
}
.image{
    height: 0;
    margin: 15px;
    padding-bottom: 70%;
    background-size: cover;
}

@media (min-width: 768px){
    .columns-container{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .columns-container > *{
        width: calc(50% - 7.5px);
    }
}

/**/
#header{
    background-color: aliceblue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: auto;
}
#header > h2{
    padding: 20px;
}
#header > h2:nth-child(1){
    background-color: pink;
}
#header > h2:nth-child(2){
    background-color: aqua;
}
#header > h2 span{
    display: block;
}