@media(min-width:768px){
    #approach-info{
        float:right;
    }
}

#page{
    margin: auto;
    max-width: 1280px;
}

@media (min-width: 768px){
    .columns-container{
        display: flex;
        justify-content: space-between;
    }
    .columns-container > *{
        width: calc(50% - 7.5px);
    }    
}