[data-src-m="header-image-claims-landing-m"]{
    background-image: url("../images/header-image-claims-landing-m.jpg");
}

[data-src-m="header-image-travel-homepage-m"]{
    background-image: url("../images/header-image-travel-homepage-m.jpg");
}

@media (min-width:768px){
    [data-src-t="header-image-claims-landing-t"]{
        background-image:  url("../images/header-image-claims-landing-t.jpg");
    }
    [data-src-t="header-image-travel-homepage-t"]{
        background-image:  url("../images/header-image-travel-homepage-t.jpg");
    } 
}

@media (min-width:1024px){
    [data-src-d="header-image-claims-landing-d"]{
        background-image:  url("../images/header-image-claims-landing-d.jpg");
    } 
    [data-src-d="header-image-travel-homepage-d"]{
        background-image:  url("../images/header-image-travel-homepage-d.jpg");
    } 
}
 