html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box
}

h1, h2, h3, h4{
    font-family: Arial, Verdana, Tahoma, serif;
}

#page{
    margin: auto;
    max-width: 1280px;
}

button.absolute{
    bottom:15px;
    left:50%;
    transform: translateX(-50%);
}

@media (min-width:768px){
    .flex{
        display: flex;
    }
    .col-6{
        width: 50%;
    }
    button.absolute{
        left:inherit;
        transform: translateX(0);
    }
}

