html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box
}

button{
    background-color: #eee;
    border: solid 2px #bbb;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
}

h1, h2, h3, h4{
    font-family: Arial, Verdana, Tahoma, serif;
}


@media (min-width:768px){
    .textbox > div:first-child{
        padding-bottom: 40px;
    }

   .btnbox{
        bottom:15px;
        position: absolute;
        text-align: inherit;
    }

    .flex{
        display: flex;
    }
    
    .col-6{
        width: 50%;
    }
}

